.pointer {
    cursor: pointer;
}

.pointer-underline {
    cursor: pointer;

    &:hover {
      text-decoration: underline;  
    }
}
.w-200
{
  width: 200px;
}
.w-350
{
  width: 350px;
}
a, a:hover, .c-black > * {
  color: black !important;
}