$cell-height: 150px;
$cell-header-background: #32383e;
$row-background: lightgrey;
$cell-base-width: 60px;
$name-width: 100px;
$description-width: 200px;

.comparision-dropable {
    // overflow: auto;
}

.rows-parent {
    display: flex;
    flex-direction: column;
    max-width: max-content;
    width: max-content;
    margin-bottom: 2rem;
}

.comparision-draggable {
    background-color: lightgrey;
    display: flex;
    align-items: stretch;
    width: 100%;
    user-select: none;
    border-color: rgb(160, 160, 160);
    border-style: solid;
    border-width: 2px 0 2px 0;
    // padding: 0 0;
}

.column-dropable {
    width: $name-width * 3 + $description-width + $cell-base-width * 3;
    flex-shrink: 0;
    background-color: $row-background;
    min-height: $cell-height + 20px;

    &.drag-over {
        background-color: rgb(235, 235, 235);
    }
}

.product-draggable {
    width: 100%;
    background-color: white;
    height: $cell-height;
    position: relative;
}

.comparision-table {
    margin: 0;
    height: 100%;

    td {
        min-width: $cell-base-width;
        max-width: $cell-base-width;
    }

    td,
    tr,
    tbody,
    thead,
    table {
        height: 100%;
    }

    tr {
        border: solid 4px rgb(172, 172, 172);
    }
}

.comparision-table-header {
    color: white;
    font-size: 0.7rem !important;
    text-align: center;
    font-weight: normal !important;
    border-collapse: collapse;
    background-color: $cell-header-background;

    &,
    th {
        border: 2px solid rgba(255, 255, 255, 0.05) !important;
    }
}

.comparision-table,
.comparision-table-header {
    .product-image-parent {
        height: $cell-height !important;
    }

    .product-image {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .product-description {
        min-width: $description-width;
        max-width: $description-width;
        padding: 0 !important;
    }

    .product-description-text {
        overflow-y: auto;
        height: 100%;
        text-align: left;
        padding: 0.5rem;
        white-space: pre-line;
    }

    .product-name {
        min-width: $name-width;
        max-width: $name-width;
    }

    .provider-column {
        min-width: $cell-base-width;
        max-width: $cell-base-width;
        padding: 10px 0;
    }

    .product-attribute-column {
        min-width: $cell-base-width;
        max-width: $cell-base-width;
    }

    .product-description-header {
        min-width: $description-width;
        max-width: $description-width;
    }
}

.drag-button-width {
    width: 70px;
    flex-shrink: 0;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.5rem;

    .icon {
        padding: 0.2rem 0;
    }

    & .icon:hover {
        transform: scale(1.1);
    }
}

.comparision-header-parent {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: $cell-header-background;
}

.add-row {
    background-color: $row-background;
    padding: 1rem 0;
    padding-left: 1rem;

    .btn {
        margin: 0 !important;
    }
}

.sticky-left {
    position: sticky;
    left: 1rem;
    width: max-content;
}
