.droppable-column-parent {
    display: flex;
    flex-direction: column;
    width: 250px;
    min-width: 150px;
}

.droppable-column {
    flex-grow: 1;
    background: lightgrey;
    padding: 8px;

    &.drag-over {
        background: lightblue;
    }
}

.draggable-card {
    user-select: none;
    padding: 16px;
    margin: 0;
    margin-bottom: 10px;
    background: #f2f2f2;

    &.dragging {
        opacity: 0.7;
    }
}
