.droppable-column-parent {
    display: flex;
    flex-direction: column;
    width: 400px;
    min-width: 200px;
    background: lightgrey;
    padding: 1rem 0 1rem 0;
}

.droppable-column {
    flex-grow: 1;

    padding: 8px;
    min-height: 200px;

    &.drag-over {
        background: lightblue;
    }
}

.draggable-card {
    user-select: none;
    margin-bottom: 6px;
    cursor: pointer;

    &.dragging {
        opacity: 0.7;
    }

    .move-next-stage-icon {
        position: absolute;
        top: 0;
        right: -1.2rem;
        font-size: 2rem;
        filter: drop-shadow(2px 2px 0.5px black);

        animation: constant-jumping 3s infinite;
    }
}
