.droppable-column-parent {
    display: flex;
    flex-direction: column;
    width: 300px;
    min-width: 200px;
}

.droppable-column {
    flex-grow: 1;
    background: lightgrey;
    padding: 8px;
    margin: 0px 4px 0 4px;
    min-height: 200px;

    &.drag-over {
        background: lightblue;
    }
}

.draggable-card {
    user-select: none;
    margin-bottom: 6px;

    &.dragging {
        opacity: 0.7;
       
    }
}
