.login-container {
    min-height: 100vh;
}

.login-form {
    max-width: 600px;

    & input {
        background: white !important;
    }

    & label {
        color: #545454 !important;
    }
}

.srm-logo {
    color: black;
    font-weight: bold;
    font-size: 2rem;
}