.page-wrapper {
    position: fixed;
    overflow: auto;
    left: 0;
    height: calc(100% - #{$navbar-height});
    width: 100vw;
    transition: left 0.5s;
    margin: 0;
    top: $navbar-height;
}

.content {
    padding: 2rem 1rem;
    max-width: 1400px;
    margin: 0 auto;
}

.menu {
    background-color: rgb(33, 37, 41);
    color: rgb(169, 175, 187);
    height: 100vh;
    width: $sidebar-ancho;
    position: fixed;
    top: 0;
    left: 0;
    left: -$sidebar-ancho;
    transition: left 0.5s;
    overflow-y: auto;
}

.menu-wrapper.mostrar {
    & .menu {
        left: 0;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
    }

    & .page-wrapper {
        left: $sidebar-ancho;
    }
}

.logo a {
    padding: 1.5rem 3rem;
    display: block;
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
    border-bottom: solid 1px rgb(182, 182, 182);

    &:hover,
    &:focus {
        color: white;
    }
}

.menu-link {
    display: block;
    color: rgb(182, 182, 182);
    display: flex;
    align-items: center;
    padding: 0.9rem 2.5rem;

    &:hover {
        background-color: rgb(65, 65, 65);
        color: white;
        text-decoration: none;
    }

    &:focus {
        color: white;
    }

    & .material-icons {
        margin-right: 1rem;
    }
}

.cerrar-sesion {
    margin-top: 2rem;
}

@media (min-width: $sidebar-break-point) {
    .menu {
        left: 0;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
    }

    .page-wrapper {
        left: $sidebar-ancho;
        width: calc(100vw - #{$sidebar-ancho});
    }

    .content {
        padding: 2rem 3rem;
    }

    #botonSidebar {
        display: none;
    }

    .cerrar-sesion {
        display: none;
    }

    .menu-link {
        padding: 1.2rem 2.5rem;
    }
}
