// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
//@import "~bootstrap/scss/bootstrap";

// Sidebar
@import "sidebar";

// Navbar del dashboard
@import "navbar_dashboard";

@import "animations";

@import "material_icons";

.keep-line-breaks {
    white-space: pre-line;
}

.bg-blue {
    background-color: $blue !important;
}

.btn-circle.btn-xl {
    width: 70px !important;
    height: 70px !important;
    padding: 10px 16px !important;
    border-radius: 35px !important;
    font-size: 24px !important;
    line-height: 1.33 !important;
}

.btn-circle {
    width: 50px !important;
    height: 50px !important;
    padding: 6px 0px !important;
    border-radius: 25px !important;
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.btn-circle.btn-sm {
    width: 40px !important;
    height: 40px !important;
}

.card-icon {
    border-radius: 6px;
    background: #fff;
    color: #333333;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%),
        0 1px 5px 0 rgb(0 0 0 / 12%);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-pills {
    & .nav-link {
        color: white;
        background: #3d4e5c;
        opacity: 0.5;
        margin-bottom: 5px;

        &.active {
            background-color: #2196f3;
            opacity: 1;
        }
    }
}

.bg-primary {
    background-color: #9c27b0 !important;
}

table, .table-text, .table thead tr th {
    font-size: 0.9rem !important;
}