// Fonts
//@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800&display=swap");

@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css");
@import url("/assets/css/material-dashboard.css?v=2.1.2");

// Variables
@import "variables";

// Bootstrap
//@import "~bootstrap/scss/bootstrap";

// Sidebar
@import "sidebar";

// Navbar del dashboard
@import "navbar_dashboard";

@import "animations";

@import "material_icons";

@import "login";

@import "file";

@import "drag_drop";

@import "notifications";

@import "tabs";

body {
    overflow: hidden;
}
@import "progress_bar";

@import "dropzone";

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4 {
    font-family: "Montserrat", sans-serif !important;
}

b,
strong {
    font-weight: bold;
}

.font-weight-bold {
    font-weight: bold !important;
}

.keep-line-breaks {
    white-space: pre-line;
}

.rich-text {
    white-space: pre-line;
    margin-bottom: 1rem;

    & p,
    & ol,
    & ul {
        margin-bottom: 0;
    }
}

.bg-blue {
    background-color: $blue !important;
}

.btn-circle.btn-xl {
    width: 70px !important;
    height: 70px !important;
    padding: 10px 16px !important;
    border-radius: 35px !important;
    font-size: 24px !important;
    line-height: 1.33 !important;
}

.btn-circle {
    width: 50px !important;
    height: 50px !important;
    padding: 6px 0px !important;
    border-radius: 25px !important;
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.btn-circle.btn-sm {
    width: 40px !important;
    height: 40px !important;
}

.card-icon {
    border-radius: 6px;
    background: #fff;
    color: #333333;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%),
        0 1px 5px 0 rgb(0 0 0 / 12%);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume-card-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: start;
    grid-gap: 1rem 1rem;
    justify-content: center;
    align-content: center;

    &.resume-card-body-1 {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 540px) {
    .resume-card-body:not(.resume-card-body-2):not(.resume-card-body-1) {
        grid-template-columns: repeat(4, 1fr);

        &.single {
            grid-template-columns: 1fr;
        }
    }
}

@media (min-width: 1200px) {
    .resume-card-body:not(.resume-card-body-4):not(.resume-card-body-2):not(.resume-card-body-1) {
        grid-template-columns: repeat(5, 1fr);
    }
}

.nav-pills {
    & .nav-link {
        color: white;
        background: #3d4e5c;
        opacity: 0.5;
        margin-bottom: 5px;

        &.active {
            background-color: #2196f3;
            opacity: 1;
        }
    }
}

.bg-primary {
    background-color: #9c27b0 !important;
}

table,
.table-text,
.table thead tr th {
    font-size: 0.9rem !important;
}

.text-white {
    & .form-check label,
    & label {
        color: white !important;
    }

    & .form-control {
        color: white !important;
    }

    & option {
        color: black;
    }
}

.card {
    opacity: 0.9;
}

.ql-editor {
    min-height: 5rem;

    & strong {
        font-weight: bold !important;
    }
}

.notification-icon-parent {
    position: relative;
}

.notification-sub-icon {
    position: absolute;
    bottom: -5px;
    right: -5px;
    font-size: 35px;

    stroke: rgba(0, 0, 0, 0.4);
    stroke-width: 1.5px;
}

.user-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;

    & .card {
        flex-basis: 220px;
        flex-grow: 1;
        margin: 1rem;
        flex-shrink: 0;
    }
}

.table {
    & .rich-text {
        margin-bottom: 0;
    }

    & th {
        text-align: center;
    }

    &.table-sm {
        & td,
        th {
            font-size: 0.7rem !important;
            padding: 0.5rem 0.2rem !important;
        }

        & th {
            padding: 0.5rem 0.5rem !important;
        }
    }
}

.scale-3 {
    transform: scale(3);
}

.form-check .form-check-sign .check {
    z-index: initial;
}

.table-sticky {
    & th {
        position: sticky;
        top: 0;
    }

    & thead th {
        border: 0;
    }

    & .thead-row-1 {
        height: 40px;

        & th {
            position: sticky;
            top: 0;
        }
    }

    & .thead-row-2 {
        & th {
            position: sticky;
            top: 40px;
        }
    }
}

@media (min-width: 1200px) {
    .modal-xl {
        max-width: 1140px;
    }
}

@media (max-width: 575.98px) {
    .modal-fullscreen-sm-down {
        width: 100vw;
        max-width: none;
        height: 100%;
        margin: 0;
    }
}

.nav-link.disabled {
    opacity: 0.15;
}

.cursor-pointer {
    cursor: pointer;
}
